<div class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a class="nav-link text-white" href="/login"><i class="fa fa-fw fa-user"></i> Inloggen Leraar</a>
    <a class="nav-link text-white" href="/"><i class="fa fa-fw fa-window-maximize"></i> Maak de Test</a>


    <a class="nav-link text-danger" href="/teachers"><i class="fa fa-fw fa-address-book"></i> Leraren CRUD</a>
    <a class="nav-link text-danger" href="/add_teacher"><i class="fa fa-fw fa-sign-in"></i> Registreren Leraar</a>



    <a class="nav-link text-danger" href="/students"><i class="fa fa-fw fa-address-card"></i> Studenten CRUD</a>
    <a class="nav-link text-success" href="/logout"><i class="fa fa-fw fa-user"></i> Uitloggen</a>


    <span class="navbar-text text-warning ms-auto">

        </span>
</div>